$main-font: 'Montserrat', sans-serif;
$titles-font: 'Poppins', sans-serif;

$primary-color: #058283;
$secondary-color: #21333E;
$dark-color: #111117;

$primary-color-filter: invert(34%) sepia(86%) saturate(841%) hue-rotate(142deg) brightness(91%) contrast(96%);